[submodule "Vendor/UniToLua"]
	path = Vendor/UniToLua
	url = https://github.com/vgvgvvv/UniToLua.git
[submodule "Vendor/ReCSharpCommon"]
	path = Vendor/ReCSharpCommon
	url = https://github.com/vgvgvvv/ReCSharpCommon.git
